<div class="flex">
  <h2 class="mr-auto">BJ41600S</h2>
  <span class="text-primary">NTD3,490</span>
</div>
<div class="flex">
  <a href="#" class="color-glasses-dark-brown"></a>
  <a href="#" class="color-glasses-brown"></a>
</div>
